<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ETM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row" style="height: 100vh">
        <div class="col-xs-12 col-md-2 col-lg-2 bg-dark pr-0">
            <div class="card mb-3 border-0" style="border-radius:0px;">
                <img class="card-img-top rounded-circle pl-5 pt-5 pr-5" src="~/Images/no-profile-img.gif" alt="Card image cap" style="max-height:200px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Usuario</h5>
                    <p class="card-text">Role</p>
                    <a href="#" class="btn btn-light">Perfil</a>
                </div>
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Club</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Temporada Actual</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Jugadores</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Competiciones</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 col-lg-10 pl-0">
            <div class="bg-dark">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Usuario</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                @RenderBody()
            </div>
            <footer class="fixed-bottom bg-dark text-light text-center">
                <p>&copy; @DateTime.Now.Year - ETM</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
